.flex {
  display: flex;
  gap: (--gap, 2rem);
}

.nav {
  background-color: var(--clr-dark-background);
}

.active-nav {
  position: relative;
}

.active-nav::after {
  content: '';
  position: absolute;
  background-color: white;
  height: 2px;
  width: 90%;
  bottom: 0;
  left: 5%;
  bottom: -8px;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: .5rem;
  /* padding-block: 1rem; */
  height: 4rem;
  /* background-color: red; */
}

.nav__container>div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.profile__picture {
  max-width: 36px;
  border-radius: 50%;
}

.logo {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: var(--clr-background-sec);
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

.nav__container a {
  text-decoration: none;
}

.nav__links {
  list-style: none;
  gap: 3rem;
  align-items: center;
}

.nav__links li a {
  color: var(--clr-txt);
  font-size: 1em 0.2rem;
  font-weight: 300;
}

#light .nav__links li a {
  color: var(--clr-background-sec);
}

.nav__btns {
  display: none;
}

.backIcon {
  font-size: 1.4rem;
  position: fixed;
  color: var(--clr-txt);
  background-color: var(--clr-background-sec);
  padding: 8px;
  z-index: 99;
  border-radius: 50%;
  transition: var(--transition);
  bottom: 5%;
  right: 1%;
}

.backIcon:hover {
  background-color: #181c17;
  color: var(--clr-txt);
}

.mode__btns {
  align-self: center;
}

.mode__btns .theme__btn {
  transition: var(--transition);
}

.mode__btns:hover .theme__btn {
  color: var(--clr-accent);
}

.theme__btn {
  background-color: var(--clr-background-sec);
  font-size: 1.3rem;
  color: var(--clr-txt);
  border: none;
  /* padding: 8px; */
  height: 35px;
  width: 35px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.nav__links .sign-with-google {
  background-color: var(--clr-background);
}

@media (max-width:880px) {
  .nav__links {
    padding-inline-start: 3rem;
    gap: 2rem;
    flex-direction: column;
    padding-top: 10rem;
    position: fixed;
    inset: 0 0 0 20%;
    background-color: var(--sec-btn);
    transform: translateX(100%);
    transition: var(--transition);
    z-index: 9999999;
    align-items: start;
  }

  .show__nav {
    transform: translateX(0);
  }

  .nav__btns {
    position: absolute;
    /* top: 2rem; */
    z-index: 999999999999;
    right: 2rem;
    display: block;
  }

  .nav__btns button {
    font-size: 1.8rem;
    background-color: transparent;
    border: none;
    color: var(--clr-background-sec);
  }
}